<md-content layout="column">
  <h2>Settings:</h2>
  <formly-form model="vm.model" fields="vm.fields" form="vm.form">
    <div layout="row"  layout-align="space-around center">
      <md-button ng-click="vm.submit()" aria-label="SUBMIT_BUTTON | translate" translate="SUBMIT_BUTTON"></md-button>
      <md-button ng-click="vm.cancel()" aria-label="CANCEL_BUTTON | translate" translate="CANCEL_BUTTON"></md-button>
    </div>
  </formly-form>

  <!-- <h2>Model</h2> -->
  <!-- <pre>{{vm.model | json}}</pre> -->
  <!-- <h2>Fields <small>(note, functions are not shown)</small></h2> -->
  <!-- <pre>{{vm.originalFields | json}}</pre> -->
  <!-- <h2>Form</h2> -->
  <!-- <pre>{{vm.fields | json}}</pre> -->

</md-content>
