<md-content layout="column">
  <h2 translate="PREFERENCES_TITLE"></h2>

  <form novalidate>
    <formly-form model="vm.model" fields="vm.fields" form="vm.form">
      <div layout="row" layout-align="space-around center">
        <md-button
          type="submit"
          class="md-primary md-raised submit-button"
          ng-disabled="vm.form.$invalid || !vm.form.$dirty"
          ng-click="vm.apply()"
          aria-label="APPLY_BUTTON | translate"
          translate="APPLY_BUTTON">
        </md-button>
        <md-button
          class="md-primary md-raised"
          ng-click="vm.cancel()"
          aria-label="CANCEL_BUTTON | translate"
          translate="CANCEL_BUTTON">
        </md-button>
      </div>
    </formly-form>
  </form>

  <!-- <h2>Model</h2> -->
  <!-- <pre>{{vm.model | json}}</pre> -->
  <!-- <h2>Fields <small>(note, functions are not shown)</small></h2> -->
  <!-- <pre>{{vm.fields | json}}</pre> -->

</md-content>
