<main>

  <h1 class="title">Gecopa concours</h1>

  <div ng-if="!gecopa.concours.length">
    <p>No current concours available right now!</p>
  </div>

  <div class="row" ng-if="gecopa.concours.length">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <h3 class="concours-list-header">Concours</h3>
    </div>
    <div class="col-md-3">
      <h3 class="concours-list-header">Date limite de participation</h3>
    </div>
    <div class="col-md-3">
      <h3 class="concours-list-header">Participants</h3>
    </div>
  </div>

  <div class="concours-list-item" ng-repeat="object in gecopa.concours | orderBy:'-endDate'">
    <div class="row">
      <div class="col-md-3"><a ui-sref="concoursDetails({concoursId: object._id})"><img ng-src="/{{object.image}}"/></a></div>
      <div class="col-md-3"><a ui-sref="concoursDetails({concoursId: object._id})">{{ object.title }}</a></div>
      <div class="col-md-3">{{ object.endDate | date: 'dd-MM-yyyy' }}</div>
      <div class="col-md-3">{{ object.participants.length }}</div>
    </div>
  </div>

</main>
<footer>
  <p>Started GECOPA at {{gecopa.date | date:'yyyy-MM-dd hh:mm:ss.sss' }}</p>
</footer>
