<md-content layout="column">
  <h2 translate="CREATE_CONCOURS_TITLE"></h2>

  <form novalidate ng-if="vm.model">
    <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
      <div layout="row" layout-align="space-around center">
        <md-button
          type="submit"
          class="md-primary md-raised submit-button"
          ng-disabled="vm.form.$invalid || !vm.form.$dirty"
          ng-click="vm.submit()"
          aria-label="SUBMIT_BUTTON | translate"
          translate="SUBMIT_BUTTON">
        </md-button>
        <md-button
          class="md-primary md-raised"
          ng-click="vm.options.resetModel()"
          aria-label="CANCEL_BUTTON | translate"
          translate="CANCEL_BUTTON">
        </md-button>
      </div>
    </formly-form>
  </form>

  <div ng-if="!vm.model" translate="PAGE_LOADING">
    Loading...
  </div>

  <!-- <h2>Image</h2> -->
  <!-- <pre>{{vm.model.imageAggregate | json}}</pre> -->
  <!-- <h2>Model</h2> -->
  <!-- <pre>{{vm.model | json}}</pre> -->
  <!-- <h2>Fields <small>(note, functions are not shown)</small></h2> -->
  <!-- <pre>{{vm.fields | json}}</pre> -->
  <!-- <h2>Form</h2> -->
  <!-- <pre>{{vm.form | json}}</pre> -->

</md-content>
